language: c

sudo: false

addons:
    apt_packages:
      - lib32stdc++6

env:
  - SMVERSION=1.10

install:
  - wget --input-file=http://sourcemod.net/smdrop/$SMVERSION/sourcemod-latest-linux
  - tar -xzf $(cat sourcemod-latest-linux)

before_script:
  - cd addons/sourcemod/scripting

  - wget "https://raw.githubusercontent.com/FlaminSarge/tf2attributes/master/tf2attributes.inc" -O include/tf2attributes.inc
  - wget "https://raw.githubusercontent.com/nosoop/SM-TFEconData/master/scripting/include/tf_econ_data.inc" -O include/tf_econ_data.inc
  - wget "https://bitbucket.org/Drifter321/dhooks2/raw/009f11c6c518227c51d708af69f4c759147f704b/sourcemod/scripting/include/dhooks.inc" -O include/dhooks.inc
  - wget "https://www.doctormckay.com/download/scripting/include/morecolors.inc" -O include/morecolors.inc
  
  - chmod +x compile.sh
  - mkdir compiled

script: 
  - ./compile.sh superzombiefortress.sp